<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<HEAD>
<!-- 5秒後に移動する場合 -->
<META http-equiv="refresh" content="5; https://github.com/okubo31/operation-board-like-DQ">
<TITLE></TITLE>
</HEAD>

<body>
<title>
ニコニコカレンダー
</title>
<h1>
ニコニコカレンダー
</h1>
<script>
function insertRow(id) {

}


</script>

<p th:text="${day}"></p>
<form method="post" action="/account" >
  <p>name：<input type="text" name="name"/>
 <input type="submit" value="ユーザ追加"  /></p>
</form>
 <form method="post" action="/niconico" >

		<p>
		<select name="id" >
		<option th:each="account:${account}" th:value="${account.id}">
		<p th:text="${account.username}"></p>
		</option>
		</select>

		<input type="radio" name="niconico1" value="ニコニコ" checked="checked"/>ニコニコ
		<input type="radio" name="niconico1" value="イライラ"/>イライラ
		<input type="radio" name="niconico1" value="悲しい"/>悲しい
		<input type="radio" name="niconico1" value="眠い"/>眠い

  <input type="submit" value="登録"  /></p>
</form>


<div class="month">
		<div class="lastmonth">
			<form method="get" action="/previous">
				<input type="hidden" name="previous" th:value="${year}+'/'+(${month}-1)" />
				<input type="submit" th:value="＜" />
			</form>
		</div>
		<div class="currentmonth" th:text="${year}+年+' '+${month}+月"></div>
		<div class="nextmonth">
			<form method="get" action="/next">
				<input type="hidden" name="next" th:value="${year}+'/'+(${month}+1)" />
				<input type="submit" th:value="＞" />
			</form>
		</div>
	</div>

<table border="1" cellspacing="0" cellpadding="4" id="table1" >
  <tr id="a">
  	<th> username</th>
    <th th:each="i : ${#numbers.sequence(1,lastDay )}" th:value="${i}" th:text="${i} "></th>
  </tr>
  <tr th:each="account:${account}">
	   <td  th:text="${account.username}"><p th:text="${account.id}" /></td>

	   <th   th:each="i : ${#numbers.sequence(1, lastDay)}" th:value="${i}"  >
	   <p th:each="feelings:${feelings}">

	   		<p th:if="${year == feelings.year}">
					<p th:value="${feelings.year}">
	   			<p th:if="${month == feelings.month}">

	   				<p th:if="${i == feelings.day }">

	   					<p th:each="account:${account}">

			   				<p th:if="${ feelings.id== account.id }">

							   		<p  th:text="${feelings.niconico}">
							   		</p>
						   	</p>
						 </p>
					</p>
				</p>
			</p>
		</p>


		</th>

  </tr>

</table>
 <form method="post" action="/delete" >

		<p>
		<select name="id" >
		<option th:each="account:${account}" th:value="${account.id}">
		<p th:text="${account.username}"></p></option>
		</select>



  <input type="submit" value="削除"  /></p>
</form>


</body>
</html>



