<html>
<body>
<title>
ニコニコカレンダー
</title>
<h1>
ニコニコカレンダー
</h1>
<script>

</script>

<p th:text="${month}"></p>月
<p th:text="${day}"></p>日
<p th:text="${week}"></p>

<form method="post" action="/post" >
  <p>name：<input type="text" name="name1"/></p>
  
  <p>
<input type="radio" name="niconico" value="ニコニコ" checked="checked"/>ニコニコ
<input type="radio" name="niconico" value="イライラ"/>イライラ
<input type="radio" name="niconico" value="悲しい"/>悲しい
</p>
  <input type="submit" value="追加" />
</form>



</body>
</html>



